@import "varaibles";
@import "mixins";
footer {
  @include headAndFoot($backgroundFooter, absolute, 8em);
  bottom: 0;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  text-align: center;
  padding: 0 1em;

  @media (max-width: $phoneWide) {
    font-size: .6em;
  }
  @media (min-width: $tablesWide) {
    font-size: 1.1rem;
  }
  .footer__description-section {

  }
}