@import "variables";

@mixin hoverBigger() {
  transition: font-size .3s;
  &:hover {
    font-size: 125%;
  }
}

@mixin circleElements() {
  background: $thirdBasicColor;
  padding: 1em;
  border-radius: 2em;
  box-shadow: $smoothShadow;
}

@mixin headAndFoot($background, $position, $height) {
  background: $background top;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: $height;
  position: $position;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: .6em 10%;
}

@mixin backgroundWall($background, $height) {
  background: $background center;
  height: $height;
  border-bottom-left-radius: 10em;
  border-bottom-right-radius: 10em;
  background-size: cover;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 14em 10%;
  justify-content: center;
  align-items: center;
}