@import "varaibles";
@import "mixins";
@import "reused-components";

.news-page {
  .news-page__middle-sec {
    color: black;
  }

  .news-page__header--author-section {
    display: flex;
    max-width: 40%;
    flex-direction: row;
    column-gap: 1em;
    font-weight: 500;
    background: $fifthBasicColor;
    border-radius: 2em;
    box-shadow: $smoothShadow;
    span {
      color: $secondBasicColor;
    }

  }
  .news-page__header--avatar {
    @include circleElements();
    padding: 0;
  }
  .news-page__middle-sec--main {
    img,
    video {
      width: 100%;
    }
  }
}