.onlineDot {
  animation: logo-animation linear 4s;
  animation-iteration-count:  infinite;
  transform-origin: 50% 50%;
}

@keyframes logo-animation{
  0% {
    opacity:1;
  }
  50% {
    opacity:0;
  }
  100% {
    opacity:0.990099773451273;
  }
  101% {
    opacity:0.99;
  }
}
