@import "mixins";
@import "variables";

.category-btn__active {
  background: rgba(24, 183, 190, 0.41);
  padding: .5em .8em;
  border-radius: 1.5em;
  box-shadow: $smoothShadow;
}

.focus-btn {
  background: $fourthBasicColor;
  @include hoverBigger()
}

.game-pack {
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: $smoothShadow;
  border-radius: 2em;
  background: $fifthBasicColor;

  @media (max-width: $phoneWide) {
    width: 100%;
  }
  @media (min-width: $phoneWide + .2px) {
    width: 22.5%;
  }
  @media (min-width: $tablesWide) {
    width: 23.2%;
  }

  .game-pack__top {
    height: 13em;
    background: white;
    border-radius: 2em;


    img {
      box-shadow: $smoothShadow;
      border-radius: 2em;
      width: 100%;
      height: 13em;
      object-fit: contain;
    }

    .game-pack__price {
      position: absolute;
      top: 1em;
      right: 1em;
      @include circleElements;
      padding: .7em;
      border-radius: .7em;
      font-weight: 500;
    }
  }

  .game-pack__down {
    padding: 2.5em 1em 1.5em 1em;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    background: $fifthBasicColor;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;

    &:hover .game-pack__down--left .game-pack__down--title {
      color: $secondBasicColor;
    }

    &:hover .game-pack__down--right {
      background: $secondBasicColor;
    }

    .game-pack__down--left {
      display: flex;
      flex-direction: column;
      row-gap: .3em;

      .game-pack__down--title {
        color: black;
        margin: 0;
        padding: 0 .5em;
        transition: color .3s;
      }

      .game-pack__down--genre {
        color: #757575;
        margin: 0;
        padding: 0 .5em;
        font-weight: 300;
      }
    }

    .game-pack__down--right {
      @include circleElements();
      background: $fourthBasicColor;
      display: flex;
      align-items: center;
      padding: .8em;
      transition: background .3s;
    }
  }
}