$firstBasicColor: #F9F7F0;
$secondBasicColor: #18B7BE;
$thirdBasicColor: #178CA4;
$fourthBasicColor: #072A40;
$smoothShadow: 0 0 2px rgba(0,0,0,.2);
$phoneWide: 810px;
$tablesWide: 1200px;
$desktopWide: 1400px;
$backgroundHome: url("../images/header-back-main.png");
