@import "varaibles";
@import "mixins";
@import "reused-components";

.game-list {
  padding: 30em 0 10em 0;

  .game-list__top {
    display: flex;
    flex-direction: column;
    @include backgroundWall($backgroundOther, 0em);

    h3 {
      font-size: 3em;
    }
  }

  .game-list__filter {
    position: absolute;
    top: 18em;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    column-gap: 1em;
  }

  .game-list__filter--shell {
    display: flex;
    row-gap: 1em;
    flex-direction: column;
    align-items: center;


    .game-list__filter--main-btn {
      background: $fourthBasicColor;
      font-weight: 500;
      cursor: pointer;
      transition: color .3s;

      &:hover {
        color: $thirdBasicColor;
      }
    }

    .game-list__filter--window {
      ul {
        padding: 0;
      }

      li {
        list-style-type: none;
      }

      @include circleElements();
      background: $fifthBasicColor;
      color: $fourthBasicColor;
      display: flex;
      transition: opacity 3s;


    }
  }

  @keyframes slideRightSide {
    from {
      margin-right: -150em
    }

    to {
      margin: 0
    }
  }
  @keyframes slideCenterSide {
    from {
      margin: 0
    }

    to {
      margin-right: 150em
    }
  }

  .game-list__middle {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 1em;
    row-gap: 2em;
    justify-content: space-between;

    .game-pack {
      width: 20em;
    }
  }

  .game-list__pages {
    display: flex;
    flex-direction: row;
    padding-top: 5em;
    justify-content: center;
    column-gap: 2em;

    button {
      border: none;
      text-align: center;
      @include circleElements();
      background: $fifthBasicColor;
      color: black;
      width: 50px;
      font-weight: bold;
      font-size: 1em;
      cursor: pointer;
      transition: background .3s, color .3s;

      &:hover {
        background: $secondBasicColor;
        color: $fifthBasicColor;
      }
    }
  }

  .game-list__page-in {

    .game-list__page-in-top {
      display: flex;
      justify-content: start;
      column-gap: 5%;
      padding-bottom: 6em;
      @media (max-width: $phoneWide) {
        flex-direction: column;
      }
      @media (min-width: $phoneWide + .2px) {
        flex-direction: row;
      }
    }

    .game-list__page-in-top--left-side {
      height: 30em;
      border-radius: 2em;
      box-shadow: $smoothShadow;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 2em;
      }

      .game-list__page-in-top--img-platform {
        @include circleElements();
        position: absolute;
        top: 1em;
        left: 1em;
        background: $fourthBasicColor;
      }
    }

    .game-list__page-in-top--right-side {
      color: black;
      display: flex;
      flex-direction: column;
      row-gap: 1.5em;

      h1 {
        margin: 0;
      }

      .game-list__page-in-top--developer {
        color: $fourthBasicColor;
      }

      .game-list__page-in-top--price {
        font-size: 1.5em;
        font-weight: 800;
        color: $thirdBasicColor
      }

      .game-list__page-in-top--rating span {
        font-weight: 700;
        font-size: 1.2em;
      }

      .game-list__page-in-top--btn-container {
        display: flex;
        align-items: center;
        column-gap: 3%;

        button {
          font-weight: 600;
          border: none;
          cursor: pointer;
          transition: background .3s;
          @include circleElements();

          &:hover {
            background: $fourthBasicColor;
          }
        }

        .game-list__page-in-top--add-to-fav {
          position: relative;

          .game-list__page-in-top--atf-descript {
            display: none;
            position: absolute;
            color: black;
            background: #072A40;
            z-index: 1000;
          }
        }
      }

      .game-list__page-in-top--bottom-container {
        display: flex;
        column-gap: 3em;
        justify-content: space-between;
        .game-list__page-in--additional {
          th {
            font-weight: 500;
            text-align: start;
          }
        }
      }

      .game-list__page-in-top--child {
        display: flex;
        align-items: center;
        column-gap: 1em;

        img {
          width: 4em;
        }

        .game-list__page-in-top--child-descript {
          max-width: 20em;
        }
      }
    }
    .game-list__page-in--decription {
      display: flex;
      flex-direction: column;
      color: black;
      box-shadow: $smoothShadow;
      background: $fifthBasicColor;
      border-radius: 2em;
      padding: 3em;
      row-gap: 2em;
      h3 {
        margin: 0;
        color: $secondBasicColor;
      }
      .game-list__page-in--decription--text {
        display: flex;
        flex-direction: column;
        justify-content: start;
        row-gap: 1em;
      }
    }
  }
}


