@import "varaibles";
@import "mixins";
@import "reused-components";

.home {
  width: 125%;
  height: 3000px;
  display: flex;
  flex-direction: column;

  a {
    text-decoration: none;
    color: $firstBasicColor;
  }

  .top-section {
    background: $backgroundHome center;
    height: 33em;
    border-bottom-left-radius: 12em;
    border-bottom-right-radius: 12em;
    background-size: cover;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 14em 10%;
    justify-content: center;
    align-items: center;

    .welcome-text {
      flex: 1;
      display: flex;
      flex-direction: column;

      .welcome-text__greet {
        font-size: 1.3em;
        font-weight: 500;
      }

      .welcome-text__slogan {
        padding: .3em 0 1.5em 0;
        font-size: 2em;
        font-weight: 700;
      }

      .welcome-text__description {
        font-weight: 400;
      }
    }

    .welcome-img {
      display: flex;
      align-items: start;
      justify-content: end;
      flex: 1;
      position: relative;

      img {
        width: 28em;
        height: 29em;
        object-fit: cover;
        object-position: center;
        border-radius: 2em;
        box-shadow: $smoothShadow;
      }

      .welcome-img__price {
        position: absolute;
        top: 1em;
        right: 1.5em;
        font-weight: 600;
        @include circleElements;
      }
    }

    .bottom-categories {
      display: flex;
      position: absolute;
      bottom: -7em;
      column-gap: 1.5em;

      .row-list__container {
        flex: 1;
        row-gap: 1em;
        padding: 1em 2em;
        background: $firstBasicColor;
        color: $fourthBasicColor;
        font-weight: 700;
        font-size: 1.2em;
        border-radius: 1.5em;
        display: flex;
        align-items: center;
        flex-direction: column;
        box-shadow: $smoothShadow;
        text-align: center;

        .bottom-categories__logo {
          display: flex;
          @include circleElements;
          transition: background .3s;

          &:hover {
            background: $fourthBasicColor;
          }
        }
      }
    }
  }

  .middle-section {
    padding-top: 65em;

    .trending-games {
      padding: 0 10%;

      .trending-games__head-text {
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
          font-size: 1.3em;
          transition: background .3s;

          &:hover {
            background: $secondBasicColor;
          }
        }

        .trending-games__head-text--left h4 {
          color: $fourthBasicColor;
        }

        .trending-games__head-text--left h3 {
          font-size: 2em;
          color: black;
        }
      }

      .trending-games__container {

        display: flex;
        flex-direction: column;
        row-gap: 7em;

        .trending-games__down-imgs {
          display: flex;
          flex-direction: row;
          column-gap: 2em;
        }
      }
    }

  }

}