@import "varaibles";
@import "mixins";
@import "reused-components";

.home {
  width: 125%;
  display: flex;
  flex-direction: column;
  padding-bottom: 10em;

  .top-name-description h4 {
    color: $fourthBasicColor;
    font-size: 1.2em;
  }

  .top-name-description h3 {
    font-size: 2em;
    color: black;
  }

  a {
    text-decoration: none;
    color: $firstBasicColor;
  }

  .top-section {
    @include backgroundWall($backgroundHome, 33em);

    .welcome-text {
      flex: 1;
      display: flex;
      flex-direction: column;

      .welcome-text__greet {
        font-size: 1.3em;
        font-weight: 500;
      }

      .welcome-text__slogan {
        padding: .3em 0 1.5em 0;
        font-size: 2em;
        font-weight: 700;
      }

      .welcome-text__description {
        font-weight: 400;
      }
    }

    .welcome-img {
      display: flex;
      align-items: start;
      justify-content: end;
      flex: 1;
      position: relative;

      img {
        width: 28em;
        height: 29em;
        object-fit: cover;
        object-position: center;
        border-radius: 2em;
        box-shadow: $smoothShadow;
      }

      .welcome-img__price {
        position: absolute;
        top: 1em;
        right: 1.5em;
        font-weight: 600;
        @include circleElements;
      }
    }

    .bottom-categories {
      display: flex;
      position: absolute;
      top: 90%;
      column-gap: 1.5em;
      row-gap: 1.5em;

      @media (max-width: $phoneWide) {
        flex-direction: column;
      }
      @media (min-width: $phoneWide + .2px) {
        flex-direction: row;
      }

      .row-list__container {
        flex: 1;
        row-gap: 1em;
        padding: 1em 2em;
        background: $firstBasicColor;
        color: $fourthBasicColor;
        font-weight: 700;
        font-size: 1.2em;
        border-radius: 1.5em;
        display: flex;
        align-items: center;
        flex-direction: column;
        box-shadow: $smoothShadow;
        text-align: center;

        .bottom-categories__logo {
          display: flex;
          @include circleElements;
          transition: background .3s;

          &:hover {
            background: $fourthBasicColor;
          }
        }
      }
    }
  }

  .middle-section {
    padding: 68em 0 15em 0;

    @media (max-width: $phoneWide) {
      padding: 100em 0 15em 0
    }

    .trending-games {
      padding: 0 10%;

      .trending-games__head-text {
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
          font-size: 1.3em;
          transition: background .3s;

          &:hover {
            background: $secondBasicColor;
          }
        }
      }

      .trending-games__container {
        display: flex;
        flex-direction: column;
        row-gap: 7em;
        .game-pack {
          flex: 1
        }

        .trending-games__down-imgs {
          display: flex;
          row-gap: 7em;
          column-gap: 2em;

          @media (max-width: $phoneWide) {
            flex-direction: column;
          }
          @media (min-width: $phoneWide + .2px) {
            flex-direction: row;
          }
        }
      }
    }

  }

  .bottom-section {
    display: flex;
    row-gap: 3em;
    @media (max-width: $phoneWide) {
      flex-direction: column;
      padding: 0 10% 5em 10%;
    }
    @media (min-width: $phoneWide + .2px) {
      flex-direction: row;
      padding: 15em 10% 5em 10%;
    }
    justify-content: space-between;
    position: relative;

    .bottom-section__block {
      background: $fifthBasicColor;
      border-radius: 2em;
      z-index: 10;
      max-width: 30em;
      max-height: 30em;
      padding: 4em;
      box-shadow: $smoothShadow;

      span {
        color: $secondBasicColor;
      }

      .bottom-section__description {
        color: black;
        font-weight: 500;
      }

      button {
        font-weight: 500;
        font-size: 1.1em;
        border: none;
        cursor: pointer;
        transition: background .3s;

        &:hover {
          background: $secondBasicColor;
        }
      }
    }

    .bottom-section__back-img {
      position: absolute;
      top: 0;
      width: 80%;
      text-align: center;

      img {
        width: 40%;
        border-radius: 2em;
        box-shadow: $smoothShadow;
      }
    }
  }

  @media (min-width: 0) {
    font-size: .8em;
  }
  @media (min-width: $tablesWide) {
    font-size: 1.1rem;
  }
}