@import "loader";
@import "net";
@import "header";
@import "footer";
@import "other";
@import "variables";
@import "home";
@import "products-list";
@import "product-page";
@import "news-page";
@import "network";
@import "basket";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  padding: 5.9em 10%;
  color: $firstBasicColor;
  position: relative;
  @media (max-width: $phoneWide) {
    font-size: .8em;
  }
  @media (min-width: $phoneWide + .2px) {
    font-size: 1em;
  }
  ul,
  a,
  button,
  input {
    @media (max-width: $phoneWide) {
      font-size: .8em;
    }
    @media (min-width: $phoneWide + .2px) {
      font-size: 1em;
    }
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
  }

  a {
    text-decoration: none;
    color: $firstBasicColor;
  }

  button {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: $firstBasicColor;
  }
  input {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
  }
}
