@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #e2e9ec;
  height: 1000px;
}

.lds-ring {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #178CA4 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.registration--avatars {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  column-gap: 5px;
  row-gap: 5px;
}

.registration--avatars img {
  width: 100%;
}

.category-btn__active, .basket__main button, .account-settings__main button, .add-friends__main button, .notification .notification__details button, .conundrums__main button, .school__main button,
.riddles__main button, .profile__delete-friend button, .sign-in__form button {
  background: rgba(24, 183, 190, 0.41);
  padding: 0.5em 0.8em;
  border-radius: 1.5em;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.focus-btn, .sign-in__form button {
  background: #072A40;
  transition: font-size 0.3s;
}
.focus-btn:hover, .sign-in__form button:hover {
  font-size: 125%;
}

.game-pack {
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  border-radius: 2em;
  background: #e2e9ec;
}
@media (max-width: 810px) {
  .game-pack {
    width: 100%;
  }
}
@media (min-width: 810.2px) {
  .game-pack {
    width: 22.5%;
  }
}
@media (min-width: 1200px) {
  .game-pack {
    width: 23.2%;
  }
}
.game-pack .game-pack__top {
  height: 13em;
  background: white;
  border-radius: 2em;
}
.game-pack .game-pack__top img {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  border-radius: 2em;
  width: 100%;
  height: 13em;
  object-fit: contain;
}
.game-pack .game-pack__top .game-pack__price {
  position: absolute;
  top: 1em;
  right: 1em;
  background: #178CA4;
  padding: 1em;
  border-radius: 2em;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  padding: 0.7em;
  border-radius: 0.7em;
  font-weight: 500;
}
.game-pack .game-pack__down {
  padding: 2.5em 1em 1.5em 1em;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
  background: #e2e9ec;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
}
.game-pack .game-pack__down:hover .game-pack__down--left .game-pack__down--title {
  color: rgb(24, 183, 190);
}
.game-pack .game-pack__down:hover .game-pack__down--right {
  background: rgb(24, 183, 190);
}
.game-pack .game-pack__down .game-pack__down--left {
  display: flex;
  flex-direction: column;
  row-gap: 0.3em;
}
.game-pack .game-pack__down .game-pack__down--left .game-pack__down--title {
  color: black;
  margin: 0;
  padding: 0 0.5em;
  transition: color 0.3s;
}
.game-pack .game-pack__down .game-pack__down--left .game-pack__down--genre {
  color: #757575;
  margin: 0;
  padding: 0 0.5em;
  font-weight: 300;
}
.game-pack .game-pack__down .game-pack__down--right {
  background: #178CA4;
  padding: 1em;
  border-radius: 2em;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  background: #072A40;
  display: flex;
  align-items: center;
  padding: 0.8em;
  transition: background 0.3s;
}

header {
  background: url("../images/header-back-main.png") top;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 5em;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 0.6em 10%;
  border-bottom-right-radius: 2em;
  border-bottom-left-radius: 2em;
  top: 0;
  transition: padding-bottom 0.5s;
}
@keyframes slideDown {
  from {
    top: -1em;
  }
  to {
    top: 0;
  }
}
@keyframes slideSide {
  from {
    left: -100em;
  }
  to {
    left: 0;
  }
}
header .header__menu-mobile {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 5em;
  left: 0;
  right: 0;
  padding: 1em;
  border-radius: 0 0 2em 2em;
  align-items: center;
  justify-content: space-between;
  height: 15em;
  background: rgba(0, 0, 0, 0);
}
@media (min-width: 810.2px) {
  header {
    font-size: 0.8em;
  }
}
@media (min-width: 1200px) {
  header {
    font-size: 1.1rem;
  }
}
header .header__left-side {
  min-width: 0;
  flex: 1;
}
header .header__center-side {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 3;
  padding-left: 30%;
}
header .header__center-side a {
  transition: font-size 0.3s;
}
header .header__center-side a:hover {
  font-size: 125%;
}
header .header__right-side {
  display: flex;
  align-items: center;
  column-gap: 1em;
  flex: 0.6;
}
@media (min-width: 810.2px) {
  header .header__right-side {
    flex: 1;
  }
}
@media (max-width: 810px) {
  header .header__left-side {
    flex: 2;
  }
  header .header__center-side {
    flex: 1;
    justify-content: end;
  }
}
header .header__burger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  padding: 5px;
  transition: font-size 0.3s;
}
header .header__burger:hover {
  font-size: 125%;
}
header .log1-1,
header .log2-1,
header .log3-1,
header .log1-2,
header .log2-2,
header .log3-2 {
  padding: 0.08em 1em;
  border-radius: 10px;
  margin: 2.5px 0;
  background: #F9F7F0;
  -webkit-transition: opacity 0.3s, margin 0.3s, rotate 0.3s, -webkit-transform 0.3s, padding 0.3s;
  transition: transform 0.3s, opacity 0.3s, margin 0.3s, rotate 0.3s, padding 0.3s;
}
header .log1-2 {
  transform: rotate(-45deg);
  margin: 0;
  padding: 0.8px 11.8px;
}
header .log2-2 {
  opacity: 0;
  margin: 0;
  padding: 0;
}
header .log3-2 {
  padding: 0.8px 11.8px;
  transform: rotate(45deg);
  margin: -1.3px 0;
}

.header__basket-main {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: font-size 0.3s;
}
.header__basket-main:hover {
  font-size: 125%;
}
.header__basket-main div {
  font-size: 0.8em;
  padding: 0.3em 0.6em;
  position: absolute;
  background: #072A40;
  border-radius: 2em;
  top: -5px;
  right: -5px;
}

.notificationLogo {
  animation: ring 4s 0.7s ease-in-out infinite;
}

@keyframes ring {
  0% {
    transform: rotate(0);
  }
  1% {
    transform: rotate(30deg);
  }
  3% {
    transform: rotate(-28deg);
  }
  5% {
    transform: rotate(34deg);
  }
  7% {
    transform: rotate(-32deg);
  }
  9% {
    transform: rotate(30deg);
  }
  11% {
    transform: rotate(-28deg);
  }
  13% {
    transform: rotate(26deg);
  }
  15% {
    transform: rotate(-24deg);
  }
  17% {
    transform: rotate(22deg);
  }
  19% {
    transform: rotate(-20deg);
  }
  21% {
    transform: rotate(18deg);
  }
  23% {
    transform: rotate(-16deg);
  }
  25% {
    transform: rotate(14deg);
  }
  27% {
    transform: rotate(-12deg);
  }
  29% {
    transform: rotate(10deg);
  }
  31% {
    transform: rotate(-8deg);
  }
  33% {
    transform: rotate(6deg);
  }
  35% {
    transform: rotate(-4deg);
  }
  37% {
    transform: rotate(2deg);
  }
  39% {
    transform: rotate(-1deg);
  }
  41% {
    transform: rotate(1deg);
  }
  43% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(0);
  }
}
.header__auth-section {
  display: flex;
  column-gap: 2em;
}
.header__auth-section .header__auth-section--avatar {
  display: flex;
  justify-content: end;
}
.header__auth-section .header__auth-section--avatar img {
  width: 50%;
  border-radius: 6em;
  cursor: pointer;
}
.header__auth-section .header__auth-section--settings {
  position: absolute;
  top: 7em;
  right: 7em;
  background: #e2e9ec;
  text-align: center;
  padding: 1.5em;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  border-radius: 2em;
}
.header__auth-section .header__auth-section--settings li,
.header__auth-section .header__auth-section--settings a {
  color: black;
  transition: color 0.3s;
  cursor: pointer;
}
.header__auth-section .header__auth-section--settings li:hover,
.header__auth-section .header__auth-section--settings a:hover {
  color: rgb(24, 183, 190);
}

footer {
  background: url("../images/footer-back-all.png") top;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 8em;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 0.6em 10%;
  bottom: 0;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  text-align: center;
  padding: 0 1em;
}
@media (max-width: 810px) {
  footer {
    font-size: 0.6em;
  }
}
@media (min-width: 1200px) {
  footer {
    font-size: 1.1rem;
  }
}
.onlineDot {
  animation: logo-animation linear 4s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
}

@keyframes logo-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0.9900997735;
  }
  101% {
    opacity: 0.99;
  }
}
.category-btn__active, .basket__main button, .account-settings__main button, .add-friends__main button, .notification .notification__details button, .conundrums__main button, .school__main button,
.riddles__main button, .profile__delete-friend button, .sign-in__form button {
  background: rgba(24, 183, 190, 0.41);
  padding: 0.5em 0.8em;
  border-radius: 1.5em;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.focus-btn, .sign-in__form button {
  background: #072A40;
  transition: font-size 0.3s;
}
.focus-btn:hover, .sign-in__form button:hover {
  font-size: 125%;
}

.game-pack {
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  border-radius: 2em;
  background: #e2e9ec;
}
@media (max-width: 810px) {
  .game-pack {
    width: 100%;
  }
}
@media (min-width: 810.2px) {
  .game-pack {
    width: 22.5%;
  }
}
@media (min-width: 1200px) {
  .game-pack {
    width: 23.2%;
  }
}
.game-pack .game-pack__top {
  height: 13em;
  background: white;
  border-radius: 2em;
}
.game-pack .game-pack__top img {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  border-radius: 2em;
  width: 100%;
  height: 13em;
  object-fit: contain;
}
.game-pack .game-pack__top .game-pack__price {
  position: absolute;
  top: 1em;
  right: 1em;
  background: #178CA4;
  padding: 1em;
  border-radius: 2em;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  padding: 0.7em;
  border-radius: 0.7em;
  font-weight: 500;
}
.game-pack .game-pack__down {
  padding: 2.5em 1em 1.5em 1em;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
  background: #e2e9ec;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
}
.game-pack .game-pack__down:hover .game-pack__down--left .game-pack__down--title {
  color: rgb(24, 183, 190);
}
.game-pack .game-pack__down:hover .game-pack__down--right {
  background: rgb(24, 183, 190);
}
.game-pack .game-pack__down .game-pack__down--left {
  display: flex;
  flex-direction: column;
  row-gap: 0.3em;
}
.game-pack .game-pack__down .game-pack__down--left .game-pack__down--title {
  color: black;
  margin: 0;
  padding: 0 0.5em;
  transition: color 0.3s;
}
.game-pack .game-pack__down .game-pack__down--left .game-pack__down--genre {
  color: #757575;
  margin: 0;
  padding: 0 0.5em;
  font-weight: 300;
}
.game-pack .game-pack__down .game-pack__down--right {
  background: #178CA4;
  padding: 1em;
  border-radius: 2em;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  background: #072A40;
  display: flex;
  align-items: center;
  padding: 0.8em;
  transition: background 0.3s;
}

.home {
  width: 125%;
  display: flex;
  flex-direction: column;
  padding-bottom: 5em;
}
.home .top-name-description h4 {
  color: #072A40;
  font-size: 1.2em;
}
.home .top-name-description h3 {
  font-size: 2em;
  color: black;
}
.home a {
  text-decoration: none;
  color: #F9F7F0;
}
.home .top-section {
  background: url("../images/header-back-main.png") center;
  height: 33em;
  border-bottom-left-radius: 10em;
  border-bottom-right-radius: 10em;
  background-size: cover;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 14em 10%;
  justify-content: center;
  align-items: center;
}
.home .top-section .welcome-text {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.home .top-section .welcome-text .welcome-text__greet {
  font-size: 1.3em;
  font-weight: 500;
}
.home .top-section .welcome-text .welcome-text__slogan {
  padding: 0.3em 0 1.5em 0;
  font-size: 2em;
  font-weight: 700;
}
.home .top-section .welcome-text .welcome-text__description {
  font-weight: 400;
}
.home .top-section .welcome-img {
  display: flex;
  align-items: start;
  justify-content: end;
  flex: 1;
  position: relative;
}
.home .top-section .welcome-img img {
  width: 28em;
  height: 29em;
  object-fit: cover;
  object-position: center;
  border-radius: 2em;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
.home .top-section .welcome-img .welcome-img__price {
  position: absolute;
  top: 1em;
  right: 1.5em;
  font-weight: 600;
  background: #178CA4;
  padding: 1em;
  border-radius: 2em;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
.home .top-section .bottom-categories {
  display: flex;
  position: absolute;
  top: 90%;
  column-gap: 3em;
  row-gap: 1.5em;
}
@media (max-width: 810px) {
  .home .top-section .bottom-categories {
    flex-direction: column;
  }
}
@media (min-width: 810.2px) {
  .home .top-section .bottom-categories {
    flex-direction: row;
  }
}
.home .top-section .bottom-categories .row-list__container {
  flex: 1;
  row-gap: 1em;
  padding: 1em 2em;
  background: #F9F7F0;
  color: #072A40;
  font-weight: 700;
  font-size: 1.2em;
  border-radius: 1.5em;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.home .top-section .bottom-categories .row-list__container .bottom-categories__logo {
  display: flex;
  background: #178CA4;
  padding: 1em;
  border-radius: 2em;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  transition: background 0.3s;
}
.home .top-section .bottom-categories .row-list__container .bottom-categories__logo:hover {
  background: #072A40;
}
.home .trending-games {
  padding: 68em 10% 10em 10%;
}
@media (max-width: 810px) {
  .home .trending-games {
    padding: 100em 10% 7em 10%;
  }
}
.home .trending-games .trending-games__head-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home .trending-games .trending-games__head-text a {
  font-size: 1.3em;
  transition: background 0.3s;
  margin: 0;
}
.home .trending-games .trending-games__head-text a:hover {
  background: rgb(24, 183, 190);
}
.home .trending-games .trending-games__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 2em;
  column-gap: 2em;
}
.home .trending-games .trending-games__container img {
  object-fit: cover;
  object-position: 0 25%;
}
@media (max-width: 810px) {
  .home .trending-games .trending-games__container {
    flex-direction: column;
  }
}
@media (min-width: 810.2px) {
  .home .trending-games .trending-games__container {
    flex-direction: row;
  }
}
.home .bottom-section {
  display: flex;
  row-gap: 3em;
  justify-content: space-between;
  position: relative;
}
@media (max-width: 810px) {
  .home .bottom-section {
    flex-direction: column;
    padding: 0 10% 5em 10%;
  }
}
@media (min-width: 810.2px) {
  .home .bottom-section {
    flex-direction: row;
    padding: 15em 10% 5em 10%;
  }
}
.home .bottom-section .bottom-section__block {
  background: #e2e9ec;
  border-radius: 2em;
  z-index: 10;
  max-width: 30em;
  max-height: 30em;
  padding: 4em;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
.home .bottom-section .bottom-section__block span {
  color: rgb(24, 183, 190);
}
.home .bottom-section .bottom-section__block .bottom-section__description {
  color: black;
  font-weight: 500;
}
.home .bottom-section .bottom-section__block button {
  font-weight: 500;
  font-size: 1.1em;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}
.home .bottom-section .bottom-section__block button:hover {
  background: rgb(24, 183, 190);
}
.home .bottom-section .bottom-section__back-img {
  position: absolute;
  top: 0;
  width: 80%;
  text-align: center;
}
.home .bottom-section .bottom-section__back-img img {
  width: 40%;
  border-radius: 2em;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
@media (min-width: 0) {
  .home {
    font-size: 0.8em;
  }
}
@media (min-width: 1200px) {
  .home {
    font-size: 1.1rem;
  }
}

.category-btn__active, .basket__main button, .account-settings__main button, .add-friends__main button, .notification .notification__details button, .conundrums__main button, .school__main button,
.riddles__main button, .profile__delete-friend button, .sign-in__form button {
  background: rgba(24, 183, 190, 0.41);
  padding: 0.5em 0.8em;
  border-radius: 1.5em;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.focus-btn, .sign-in__form button {
  background: #072A40;
  transition: font-size 0.3s;
}
.focus-btn:hover, .sign-in__form button:hover {
  font-size: 125%;
}

.game-pack {
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  border-radius: 2em;
  background: #e2e9ec;
}
@media (max-width: 810px) {
  .game-pack {
    width: 100%;
  }
}
@media (min-width: 810.2px) {
  .game-pack {
    width: 22.5%;
  }
}
@media (min-width: 1200px) {
  .game-pack {
    width: 23.2%;
  }
}
.game-pack .game-pack__top {
  height: 13em;
  background: white;
  border-radius: 2em;
}
.game-pack .game-pack__top img {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  border-radius: 2em;
  width: 100%;
  height: 13em;
  object-fit: contain;
}
.game-pack .game-pack__top .game-pack__price {
  position: absolute;
  top: 1em;
  right: 1em;
  background: #178CA4;
  padding: 1em;
  border-radius: 2em;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  padding: 0.7em;
  border-radius: 0.7em;
  font-weight: 500;
}
.game-pack .game-pack__down {
  padding: 2.5em 1em 1.5em 1em;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
  background: #e2e9ec;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
}
.game-pack .game-pack__down:hover .game-pack__down--left .game-pack__down--title {
  color: rgb(24, 183, 190);
}
.game-pack .game-pack__down:hover .game-pack__down--right {
  background: rgb(24, 183, 190);
}
.game-pack .game-pack__down .game-pack__down--left {
  display: flex;
  flex-direction: column;
  row-gap: 0.3em;
}
.game-pack .game-pack__down .game-pack__down--left .game-pack__down--title {
  color: black;
  margin: 0;
  padding: 0 0.5em;
  transition: color 0.3s;
}
.game-pack .game-pack__down .game-pack__down--left .game-pack__down--genre {
  color: #757575;
  margin: 0;
  padding: 0 0.5em;
  font-weight: 300;
}
.game-pack .game-pack__down .game-pack__down--right {
  background: #178CA4;
  padding: 1em;
  border-radius: 2em;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  background: #072A40;
  display: flex;
  align-items: center;
  padding: 0.8em;
  transition: background 0.3s;
}

.products-list {
  padding: 30em 0 10em 0;
}
.products-list .products-list__top {
  display: flex;
  flex-direction: column;
  background: url("../images/heading-back.png") center;
  height: 0em;
  border-bottom-left-radius: 10em;
  border-bottom-right-radius: 10em;
  background-size: cover;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 14em 10%;
  justify-content: center;
  align-items: center;
}
.products-list .products-list__top h3 {
  font-size: 3em;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
}
.products-list .products-list__top .products-list__filter--main-btn {
  background: #072A40;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.3s;
}
.products-list .products-list__top .products-list__filter--main-btn:hover {
  color: #178CA4;
}
.products-list .products-list__filter--window {
  background: #178CA4;
  padding: 1em;
  border-radius: 2em;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  background: #e2e9ec;
  color: #072A40;
  display: flex;
  transition: opacity 3s;
}
.products-list .products-list__filter--window img {
  border-radius: 2em;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  object-fit: cover;
  width: 50%;
}
.products-list .products-list__filter--window ul {
  padding: 0;
}
.products-list .products-list__filter--window ul h3 {
  color: black;
  transition: color 0.3s;
}
.products-list .products-list__filter--window:hover h3 {
  color: rgb(24, 183, 190);
}
.products-list .products-list__filter {
  position: absolute;
  top: 300px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  column-gap: 1em;
}
@media (max-width: 810px) {
  .products-list .products-list__filter {
    font-size: 0.8em;
  }
}
.products-list .products-list__filter--shell {
  display: flex;
  row-gap: 1em;
  flex-direction: column;
  align-items: center;
}
@keyframes slideRightSide {
  from {
    margin-right: -150em;
  }
  to {
    margin: 0;
  }
}
@keyframes slideCenterSide {
  from {
    margin: 0;
  }
  to {
    margin-right: 150em;
  }
}
.products-list .products-list__middle {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 2em;
  column-gap: 2em;
  justify-content: center;
}
.products-list .products-list__pages {
  display: flex;
  flex-direction: row;
  padding-top: 5em;
  justify-content: center;
  column-gap: 2em;
}
.products-list .products-list__pages button {
  border: none;
  text-align: center;
  background: #178CA4;
  padding: 1em;
  border-radius: 2em;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  background: #e2e9ec;
  color: black;
  width: 50px;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}
.products-list .products-list__pages button:hover {
  background: rgb(24, 183, 190);
  color: #e2e9ec;
}

.category-btn__active, .basket__main button, .account-settings__main button, .add-friends__main button, .notification .notification__details button, .conundrums__main button, .school__main button,
.riddles__main button, .profile__delete-friend button, .sign-in__form button {
  background: rgba(24, 183, 190, 0.41);
  padding: 0.5em 0.8em;
  border-radius: 1.5em;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.focus-btn, .sign-in__form button {
  background: #072A40;
  transition: font-size 0.3s;
}
.focus-btn:hover, .sign-in__form button:hover {
  font-size: 125%;
}

.game-pack {
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  border-radius: 2em;
  background: #e2e9ec;
}
@media (max-width: 810px) {
  .game-pack {
    width: 100%;
  }
}
@media (min-width: 810.2px) {
  .game-pack {
    width: 22.5%;
  }
}
@media (min-width: 1200px) {
  .game-pack {
    width: 23.2%;
  }
}
.game-pack .game-pack__top {
  height: 13em;
  background: white;
  border-radius: 2em;
}
.game-pack .game-pack__top img {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  border-radius: 2em;
  width: 100%;
  height: 13em;
  object-fit: contain;
}
.game-pack .game-pack__top .game-pack__price {
  position: absolute;
  top: 1em;
  right: 1em;
  background: #178CA4;
  padding: 1em;
  border-radius: 2em;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  padding: 0.7em;
  border-radius: 0.7em;
  font-weight: 500;
}
.game-pack .game-pack__down {
  padding: 2.5em 1em 1.5em 1em;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
  background: #e2e9ec;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
}
.game-pack .game-pack__down:hover .game-pack__down--left .game-pack__down--title {
  color: rgb(24, 183, 190);
}
.game-pack .game-pack__down:hover .game-pack__down--right {
  background: rgb(24, 183, 190);
}
.game-pack .game-pack__down .game-pack__down--left {
  display: flex;
  flex-direction: column;
  row-gap: 0.3em;
}
.game-pack .game-pack__down .game-pack__down--left .game-pack__down--title {
  color: black;
  margin: 0;
  padding: 0 0.5em;
  transition: color 0.3s;
}
.game-pack .game-pack__down .game-pack__down--left .game-pack__down--genre {
  color: #757575;
  margin: 0;
  padding: 0 0.5em;
  font-weight: 300;
}
.game-pack .game-pack__down .game-pack__down--right {
  background: #178CA4;
  padding: 1em;
  border-radius: 2em;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  background: #072A40;
  display: flex;
  align-items: center;
  padding: 0.8em;
  transition: background 0.3s;
}

.products-list__page-in .products-list__page-in-top {
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 5%;
  padding-bottom: 6em;
}
.products-list__page-in .products-list__page-in-top button {
  border: none;
  cursor: pointer;
  transition: background 0.3s;
  background: #178CA4;
  padding: 1em;
  border-radius: 2em;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  font-weight: 700;
}
.products-list__page-in .products-list__page-in-top button:hover {
  background: #072A40;
}
@media (max-width: 810px) {
  .products-list__page-in .products-list__page-in-top {
    flex-direction: column;
  }
}
@media (min-width: 810.2px) {
  .products-list__page-in .products-list__page-in-top {
    flex-direction: row;
  }
}
.products-list__page-in .products-list__page-in-top--left-side {
  height: 30em;
  border-radius: 2em;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  position: relative;
  min-width: 30em;
  max-width: 30em;
}
.products-list__page-in .products-list__page-in-top--left-side .products-list__page-in-top--btn {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
}
.products-list__page-in .products-list__page-in-top--left-side .products-list__page-in-top--btn button {
  width: 9%;
}
.products-list__page-in .products-list__page-in-top--left-side .products-list__page-in-top--color {
  color: black;
  display: flex;
  flex-direction: column;
}
.products-list__page-in .products-list__page-in-top--left-side .products-list__page-in-top--color .products-list__page-in-top--clr-title {
  font-weight: 700;
}
.products-list__page-in .products-list__page-in-top--left-side .products-list__page-in-top--color .products-list__page-in-top--clr-list {
  display: flex;
  flex-direction: row;
  column-gap: 0.5em;
}
.products-list__page-in .products-list__page-in-top--left-side .products-list__page-in-top--color .products-list__page-in-top--clr-list li {
  width: 10%;
  height: 10%;
  cursor: pointer;
  border-radius: 5em;
}
.products-list__page-in .products-list__page-in-top--left-side .products-list__page-in-top--color .products-list__page-in-top--clr-list img {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  object-fit: none;
  width: 100%;
}
.products-list__page-in .products-list__page-in-top--left-side .products-list__page-in-top--color .products-list__page-in-top--clr-list img:active {
  border: 2px solid rgb(24, 183, 190);
}
.products-list__page-in .products-list__page-in-top--left-side img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2em;
}
.products-list__page-in .products-list__page-in-top--left-side .products-list__page-in-top--img-platform {
  background: #178CA4;
  padding: 1em;
  border-radius: 2em;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 1em;
  left: 1em;
  background: #072A40;
}
.products-list__page-in .products-list__page-in-top--right-side {
  color: black;
  display: flex;
  flex-direction: column;
  row-gap: 1.5em;
}
.products-list__page-in .products-list__page-in-top--right-side h1 {
  margin: 0;
}
.products-list__page-in .products-list__page-in-top--right-side .products-list__page-in-top--developer {
  color: #072A40;
}
.products-list__page-in .products-list__page-in-top--right-side .products-list__page-in-top--price {
  font-size: 1.5em;
  font-weight: 800;
  color: #178CA4;
}
.products-list__page-in .products-list__page-in-top--right-side .products-list__page-in-top--rating span {
  font-weight: 700;
  font-size: 1.2em;
}
.products-list__page-in .products-list__page-in-top--right-side .products-list__page-in-top--compat {
  display: flex;
  flex-direction: column;
  row-gap: 1.5em;
}
.products-list__page-in .products-list__page-in-top--right-side .products-list__page-in-top--btn-container {
  display: flex;
  align-items: center;
  column-gap: 3%;
}
.products-list__page-in .products-list__page-in-top--right-side .products-list__page-in-top--btn-container .products-list__page-in-top--add-to-fav {
  position: relative;
}
.products-list__page-in .products-list__page-in-top--right-side .products-list__page-in-top--btn-container .products-list__page-in-top--add-to-fav .products-list__page-in-top--atf-descript {
  display: none;
  position: absolute;
  color: black;
  background: #072A40;
  z-index: 1000;
}
.products-list__page-in .products-list__page-in-top--right-side .products-list__page-in-top--bottom-container {
  display: flex;
  column-gap: 3em;
  justify-content: space-between;
}
.products-list__page-in .products-list__page-in-top--right-side .products-list__page-in-top--bottom-container .products-list__page-in--additional th {
  font-weight: 500;
  text-align: start;
}
.products-list__page-in .products-list__page-in-top--right-side .products-list__page-in-top--child {
  display: flex;
  align-items: center;
  column-gap: 1em;
}
.products-list__page-in .products-list__page-in-top--right-side .products-list__page-in-top--child img {
  width: 4em;
}
.products-list__page-in .products-list__page-in-top--right-side .products-list__page-in-top--child .products-list__page-in-top--child-descript {
  max-width: 50em;
}
.products-list__page-in .products-list__page-in-middle {
  color: black;
}
@media (max-width: 810px) {
  .products-list__page-in .products-list__page-in-middle img {
    display: none;
  }
}
.products-list__page-in .products-list__page-in-middle .products-list__page-in--many-descript {
  display: flex;
  flex-direction: row;
  column-gap: 2em;
  padding: 2em 0;
  align-items: center;
}
@media (max-width: 810px) {
  .products-list__page-in .products-list__page-in-middle .products-list__page-in--many-descript {
    flex-direction: column;
  }
}
.products-list__page-in .products-list__page-in-down {
  color: black;
  display: flex;
  justify-content: center;
  column-gap: 2em;
}
.products-list__page-in .products-list__page-in-down img {
  width: 28%;
}
@media (max-width: 810px) {
  .products-list__page-in .products-list__page-in-down img {
    display: none;
  }
}
.products-list__page-in .products-list__page-in-down ul {
  list-style-type: decimal;
}

.products-list__page-in--decription, .profile-main .profile-main__head, .sign-in__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  background: #e2e9ec;
  border-radius: 2em;
  padding: 3em;
  row-gap: 2em;
}
.products-list__page-in--decription h3, .profile-main .profile-main__head h3, .sign-in__form h3 {
  margin: 0;
  color: rgb(24, 183, 190);
}
.products-list__page-in--decription .products-list__page-in--decription--text, .profile-main .profile-main__head .products-list__page-in--decription--text, .sign-in__form .products-list__page-in--decription--text {
  display: flex;
  flex-direction: column;
  justify-content: start;
  row-gap: 1em;
}

.category-btn__active, .basket__main button, .account-settings__main button, .add-friends__main button, .notification .notification__details button, .conundrums__main button, .school__main button,
.riddles__main button, .profile__delete-friend button, .sign-in__form button {
  background: rgba(24, 183, 190, 0.41);
  padding: 0.5em 0.8em;
  border-radius: 1.5em;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.focus-btn, .sign-in__form button {
  background: #072A40;
  transition: font-size 0.3s;
}
.focus-btn:hover, .sign-in__form button:hover {
  font-size: 125%;
}

.game-pack {
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  border-radius: 2em;
  background: #e2e9ec;
}
@media (max-width: 810px) {
  .game-pack {
    width: 100%;
  }
}
@media (min-width: 810.2px) {
  .game-pack {
    width: 22.5%;
  }
}
@media (min-width: 1200px) {
  .game-pack {
    width: 23.2%;
  }
}
.game-pack .game-pack__top {
  height: 13em;
  background: white;
  border-radius: 2em;
}
.game-pack .game-pack__top img {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  border-radius: 2em;
  width: 100%;
  height: 13em;
  object-fit: contain;
}
.game-pack .game-pack__top .game-pack__price {
  position: absolute;
  top: 1em;
  right: 1em;
  background: #178CA4;
  padding: 1em;
  border-radius: 2em;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  padding: 0.7em;
  border-radius: 0.7em;
  font-weight: 500;
}
.game-pack .game-pack__down {
  padding: 2.5em 1em 1.5em 1em;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
  background: #e2e9ec;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
}
.game-pack .game-pack__down:hover .game-pack__down--left .game-pack__down--title {
  color: rgb(24, 183, 190);
}
.game-pack .game-pack__down:hover .game-pack__down--right {
  background: rgb(24, 183, 190);
}
.game-pack .game-pack__down .game-pack__down--left {
  display: flex;
  flex-direction: column;
  row-gap: 0.3em;
}
.game-pack .game-pack__down .game-pack__down--left .game-pack__down--title {
  color: black;
  margin: 0;
  padding: 0 0.5em;
  transition: color 0.3s;
}
.game-pack .game-pack__down .game-pack__down--left .game-pack__down--genre {
  color: #757575;
  margin: 0;
  padding: 0 0.5em;
  font-weight: 300;
}
.game-pack .game-pack__down .game-pack__down--right {
  background: #178CA4;
  padding: 1em;
  border-radius: 2em;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  background: #072A40;
  display: flex;
  align-items: center;
  padding: 0.8em;
  transition: background 0.3s;
}

.news-page .news-page__middle-sec {
  color: black;
}
.news-page .news-page__header--author-section {
  display: flex;
  max-width: 40%;
  flex-direction: row;
  column-gap: 1em;
  font-weight: 500;
  background: #e2e9ec;
  border-radius: 2em;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
.news-page .news-page__header--author-section span {
  color: rgb(24, 183, 190);
}
.news-page .news-page__header--avatar {
  background: #178CA4;
  padding: 1em;
  border-radius: 2em;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  padding: 0;
}
.news-page .news-page__middle-sec--main img,
.news-page .news-page__middle-sec--main video {
  width: 100%;
}

.sign-in__form {
  align-items: center;
  row-gap: 1em;
}
.sign-in__form .sign-in__container {
  display: flex;
  flex-direction: column;
  row-gap: 0.2em;
}
.sign-in__form input {
  font-size: 1.1em;
  text-align: center;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 0.5em;
}
.sign-in__form button {
  cursor: pointer;
}
.sign-in__form h3 {
  padding-top: 2em;
}
.sign-in__form h3 a {
  color: #072A40;
}

.profile-main {
  display: flex;
  flex-direction: column;
  row-gap: 3em;
}
.profile-main .profile-main__head {
  display: flex;
  flex-direction: row;
  column-gap: 2em;
}
.profile-main .profile-main__head .profile-main__left {
  flex: 0.6;
  display: flex;
  align-items: center;
  position: relative;
}
.profile-main .profile-main__head .profile-main__left .profile-main__status {
  position: absolute;
  top: 0;
}
.profile-main .profile-main__head .profile-main__left .profile-main__avatar img {
  width: 100%;
  border-radius: 15em;
}
.profile-main .profile-main__head .profile-main__right {
  flex: 1;
}
.profile-main .profile-main__head .profile-main__right span {
  font-weight: 600;
  color: #072A40;
}
.profile-main .profile-main__mid {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  row-gap: 3em;
}
.profile-main .profile-main__mid .profile-main__favorite-main {
  display: flex;
  column-gap: 1em;
}
.profile-main .profile-main__mid .profile-main__favorite-main div {
  width: 50%;
}
.profile-main .profile-main__mid .profile-main__favorite-main ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.profile-main .profile-main__mid .profile-main__favorite-main ul img {
  border-radius: 2em;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.profile .profile__mid {
  display: flex;
  column-gap: 2em;
  height: 100%;
}
@media (max-width: 810px) {
  .profile .profile__mid {
    flex-direction: column;
  }
}
.profile .profile__mid h3 {
  font-size: 2.5em;
  color: rgb(24, 183, 190);
}
.profile .profile__mid button {
  cursor: pointer;
  background: #072A40;
  border-radius: 2em;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  transition: background 0.3s;
  border: none;
  padding: 1px 7px;
}
.profile .profile__mid button:hover {
  background: #178CA4;
}
.profile .profile__popular-games {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile .profile__popular-games ol {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}
.profile .profile__popular-games li {
  color: black;
  display: flex;
  column-gap: 0.3em;
}
.profile .profile__popular-games li img {
  width: 5em;
  border-radius: 10em;
}
.profile .profile__popular-studios {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.profile .profile__popular-studios ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 1em;
}
@media (max-width: 810px) {
  .profile .profile__popular-studios ul {
    flex-wrap: unset;
  }
}
@media (min-width: 810.2px) {
  .profile .profile__popular-studios ul {
    flex-wrap: wrap;
    max-height: 60em;
  }
}
.profile .profile__popular-studios li {
  color: black;
}
.profile .profile__down {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 2em;
}
.profile .profile__down h3 {
  font-size: 2.5em;
  color: rgb(24, 183, 190);
}
.profile .profile__down ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 1em;
  max-height: 60em;
  text-align: center;
}
.profile .profile__down ul p {
  color: rgb(24, 183, 190);
}
.profile .profile__down li,
.profile .profile__down a {
  color: black;
}
.profile .profile__down img {
  width: 5em;
  border-radius: 10em;
}
.profile .profile__down .profile__down--adder {
  background: #e2e9ec;
  padding: 1em 2em;
  border-radius: 2em;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}
.profile .profile__down .profile__down--adder:hover {
  background: #072A40;
  color: #e2e9ec;
}

.profile__conundrums {
  position: fixed;
  z-index: 1500;
  bottom: 60px;
  right: 20px;
}
.profile__conundrums a {
  background: #072A40;
  padding: 1em;
  border-radius: 10em;
  transition: background 0.3s;
}
.profile__conundrums a:hover {
  background: rgb(24, 183, 190);
}

.account-settings__main img, .profile__delete-friend img, .school__main img,
.riddles__main img, .conundrums__main img, .notification .notification__details img, .add-friends__main img {
  border-radius: 30em;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
.account-settings__main i, .profile__delete-friend i, .school__main i,
.riddles__main i, .conundrums__main i, .notification .notification__details i, .add-friends__main i {
  color: rgb(24, 183, 190);
}
.account-settings__main ul, .profile__delete-friend ul, .school__main ul,
.riddles__main ul, .conundrums__main ul, .notification .notification__details ul, .add-friends__main ul {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

.add-friends__main p {
  color: black;
}
.add-friends__main .add-friends__main--search-bottom {
  display: flex;
  column-gap: 1em;
  align-items: center;
  justify-content: center;
}
.add-friends__main .add-friends__main--search-bottom input {
  font-size: 1.1em;
  text-align: center;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 0.5em;
}

.notification {
  position: fixed;
  cursor: pointer;
  top: 5em;
  right: 11em;
  z-index: 1000;
}
@media (max-width: 810px) {
  .notification {
    right: 2em;
    top: 1em;
  }
}
.notification .notification__main--logo {
  text-align: end;
}
.notification .notification__details span {
  color: rgb(24, 183, 190);
}

.conundrums__main button {
  font-size: 1.5em;
}

.school__main ol,
.riddles__main ol {
  list-style-type: none;
}
.school__main button,
.riddles__main button {
  font-size: 1.2em;
}
.school__main .riddles__main--type,
.school__main .riddles__main--input,
.riddles__main .riddles__main--type,
.riddles__main .riddles__main--input {
  display: flex;
  column-gap: 0.5em;
  align-items: center;
  justify-content: center;
}
.school__main .riddles__main--type input,
.school__main .riddles__main--input input,
.riddles__main .riddles__main--type input,
.riddles__main .riddles__main--input input {
  font-size: 1.1em;
  text-align: center;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 0.5em;
}
.school__main p,
.riddles__main p {
  font-size: 1.7em;
  color: rgb(24, 183, 190);
  font-weight: 600;
}
.school__main .riddles__main--bottom,
.riddles__main .riddles__main--bottom {
  padding-top: 3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.school__main .school__main--question,
.riddles__main .school__main--question {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5em;
}
.school__main .school__main--question b,
.riddles__main .school__main--question b {
  font-size: 1.7em;
  color: rgb(24, 183, 190);
}
.school__main li,
.riddles__main li {
  padding: 1em;
}

.profile__delete-friend {
  padding-top: 3em;
}

.basket__main, .account-settings__main, .add-friends__main, .notification .notification__details, .conundrums__main, .school__main,
.riddles__main, .profile__delete-friend {
  text-align: center;
  background: #e2e9ec;
  border-radius: 2em;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  padding: 2em 3em;
  color: black;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}
.basket__main .basket__main--cover-img, .account-settings__main .basket__main--cover-img, .add-friends__main .basket__main--cover-img, .notification .notification__details .basket__main--cover-img, .conundrums__main .basket__main--cover-img, .school__main .basket__main--cover-img,
.riddles__main .basket__main--cover-img, .profile__delete-friend .basket__main--cover-img {
  width: 20%;
  border-radius: 50em;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
.basket__main h3, .account-settings__main h3, .add-friends__main h3, .notification .notification__details h3, .conundrums__main h3, .school__main h3,
.riddles__main h3, .profile__delete-friend h3 {
  color: rgb(24, 183, 190);
}
.basket__main b, .account-settings__main b, .add-friends__main b, .notification .notification__details b, .conundrums__main b, .school__main b,
.riddles__main b, .profile__delete-friend b {
  font-size: 1.5em;
}
.basket__main button, .account-settings__main button, .add-friends__main button, .notification .notification__details button, .conundrums__main button, .school__main button,
.riddles__main button, .profile__delete-friend button {
  border: none;
  cursor: pointer;
  background: #072A40;
  transition: background 0.3s;
}
.basket__main button:hover, .account-settings__main button:hover, .add-friends__main button:hover, .notification .notification__details button:hover, .conundrums__main button:hover, .school__main button:hover,
.riddles__main button:hover, .profile__delete-friend button:hover {
  background: rgb(24, 183, 190);
}
.basket__main .basket__main--position, .account-settings__main .basket__main--position, .add-friends__main .basket__main--position, .notification .notification__details .basket__main--position, .conundrums__main .basket__main--position, .school__main .basket__main--position,
.riddles__main .basket__main--position, .profile__delete-friend .basket__main--position {
  position: relative;
}
.basket__main .basket__main--remove-btn, .account-settings__main .basket__main--remove-btn, .add-friends__main .basket__main--remove-btn, .notification .notification__details .basket__main--remove-btn, .conundrums__main .basket__main--remove-btn, .school__main .basket__main--remove-btn,
.riddles__main .basket__main--remove-btn, .profile__delete-friend .basket__main--remove-btn {
  position: absolute;
  top: 0;
  right: 0;
}
.basket__main .basket__main--quantity, .account-settings__main .basket__main--quantity, .add-friends__main .basket__main--quantity, .notification .notification__details .basket__main--quantity, .conundrums__main .basket__main--quantity, .school__main .basket__main--quantity,
.riddles__main .basket__main--quantity, .profile__delete-friend .basket__main--quantity {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}
.basket__main .basket__main--amount, .account-settings__main .basket__main--amount, .add-friends__main .basket__main--amount, .notification .notification__details .basket__main--amount, .conundrums__main .basket__main--amount, .school__main .basket__main--amount,
.riddles__main .basket__main--amount, .profile__delete-friend .basket__main--amount {
  display: flex;
  column-gap: 1em;
  justify-content: center;
  align-items: center;
}
.basket__main i, .account-settings__main i, .add-friends__main i, .notification .notification__details i, .conundrums__main i, .school__main i,
.riddles__main i, .profile__delete-friend i {
  font-size: 1.4em;
  color: rgb(24, 183, 190);
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  padding: 5.9em 10%;
  color: #F9F7F0;
  position: relative;
}
.App ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
.App a {
  text-decoration: none;
  color: #F9F7F0;
}
.App button {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #F9F7F0;
}
.App input {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

/*# sourceMappingURL=main-styles.css.map */
