@import "loader.scss";
@import "net.scss";
@import "header.scss";
@import "footer.scss";
@import "psn.scss";
@import "varaibles.scss";
@import "home.scss";
@import "products-list.scss";
@import "product-page.scss";
@import "news-page.scss";
@import "network.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  padding: 5.9em 10%;
  color: $firstBasicColor;
  position: relative;
  ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
  }

  a {
    text-decoration: none;
    color: $firstBasicColor;
  }

  button {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: $firstBasicColor;
  }
  input {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
  }
}
